## Settings file was created by plugin Valharvest v2.2.5
## Plugin GUID: com.frenvius.Valharvest

[FarmGrid]

## Enable or disable the farm grid.
# Setting type: Boolean
# Default value: true
Enable = true

## Amount of space between plants. This is extra spacing on top of the growth size needed to grow.
# Setting type: Single
# Default value: 0.01
PlantSpacing = 0.01

## Amount of grid sections (on either side of the main axis.)
# Setting type: Int32
# Default value: 2
FarmGridSections = 2

## Grid offset from the ground.
# Setting type: Single
# Default value: 0.2
FarmGridYOffset = 0.2

## Color of the grid.
# Setting type: Color
# Default value: CCCCCC33
FarmGridColor = CCCCCC33

[Kabob]

## Change Kabob name to Kebab
# Setting type: Boolean
# Default value: true
Enable = true

[Plant Progress]

## Enable showing plant growth progress on plants
# Setting type: Boolean
# Default value: true
EnableOnPlants = true

## Enable showing plant growth progress on pickable
# Setting type: Boolean
# Default value: true
EnableOnPickable = true

[Vegetables Drop]

## Keep vegetables in monster drops
# Setting type: Boolean
# Default value: false
Enable = false

