## Settings file was created by plugin Valharvest v3.0.2
## Plugin GUID: com.frenvius.Valharvest

[FarmGrid]

Enable = true

PlantSpacing = 0.01

FarmGridSections = 2

FarmGridYOffset = 0.2

FarmGridColor = CCCCCC33

[Kabob]

## Change Kabob name to Kebab
# Setting type: Boolean
# Default value: true
Enable = true

[Plant Progress]

## Enable showing plant growth progress on plants
# Setting type: Boolean
# Default value: true
EnableOnPlants = true

## Enable showing plant growth progress on pickable
# Setting type: Boolean
# Default value: true
EnableOnPickable = true

[Vegetables Drop]

## Keep vegetables in monster drops
# Setting type: Boolean
# Default value: false
Enable = true

